@charset "utf-8";

/*  모바일버전 서울아트페어 통 이미지 02버전  */

section {
    width: 100%;
}
section h1 {
    text-align: center;
}
section img {
    width: 100%;
}


footer {
    width: 100%;
    background-color: #E8F9FF;
    padding: 50px 50px;
}

footer .cont_company {
    padding: 0 5%;
}

footer .cont_company h4 {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 20px;
    margin-left: 90px;
}

footer .cont_company p {
    color: #666;
    margin-left: 90px;
    font-weight: 300;
    font-size: 0.8rem;
}