@charset "utf-8";

/* 메인페이지 Mobile.css 모바일 버전   */

/* html,
body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
} */

header {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    /* position: relative; */

    padding: 20px 0;
    text-align: center;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    background-color: #fff;
}
header .logo {
    display: inline-block;
}
header .logo h1 {
    font-family: "Chonburi", serif;
    font-size: 2rem;
    /* margin: 20px auto; */
}

header .m-menu {
    /* outline: 2px solid red; */
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header .m-menu span {
    display: block;
    width: 38px;
    height: 2px;
    background-color: #333;

    /* position: absolute;
    right: 7%;
    top: 25%; */
 }

 /* header .m-menu .ct1 { 
    margin: 10px 0px;
 } */
 header .m-menu .ct2 {
    margin: 14px 0px;
 }
/************* 모바일 본문css ************/
 
section {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    margin-top: 78px; /* header의 높이만큼! */
}

main .slide-box {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;

    position: relative;
}

main .slide-box .gallery {
    width: 400%;
    position: relative;
    left: 0;
}

main .slide-box .gallery li {
    width: 25%;
    float: left;
    transition: all 1s ease-in-out;
}

main .slide-box ul li img {
    width: 100%;
    display: block;
}

main h2 {
    position: absolute;
    /* right: 0; */
    width: 50%;
    left: 50%;
    top: 25%;
}

main h2 img {
    /* width: 60%; */
    /* height: 160px; */
    width: 90%;
    display: block;
}

main h3 {
    width: 100%;
    position: absolute;
    /* left: 20%; */
    /* left: 50%;
    transform: translateX(-50%); */
    bottom: 7%;

    font-size: 20px;
    color: #fff;
    text-align: center;
}

article.artnlife {
    background-color: #e6f3d3;
    /* margin: 0 auto; */
    padding-top: 70px;
    padding-bottom: 120px;
}

article.artnlife h2 {
    text-align: center;
    font-family: "Chonburi", serif;
    font-size: 2rem;
    margin-bottom: 70px;
    /* padding: 20px 0; */
}

article.artnlife .life_mall {
    padding: 0 5%;
}
article.artnlife .life_mall ul {
 /*   outline: 2px solid blue; */
}

article.artnlife .life_mall ul li {
    /* width: 45%;
    margin-left: 3.5%; */

    width: 48%;

    float: left;
    
    margin-bottom: 50px;
    text-align: center;

}
article.artnlife .life_mall ul li~li {
    margin-left: 4%;
}
article.artnlife .life_mall ul li:nth-child(2n+1) {
    margin-left: 0;
}

/* article.artnlife .life_mall .box2 li {
    width: 45%;
    float: left;
    margin-left: 3.5%;
    margin-bottom: 20px;
    text-align: center;
} */

article.artnlife .life_mall .img-box {
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px 0.3px rgb(181, 187, 185);
}

article.artnlife .life_mall .img-box img {
    width: 100%;
    display: block;
}

article.artnlife .life_mall li .txt-box {
    background-color: #fff;
    box-shadow: 1px 1px 5px 0.3px rgb(181, 187, 185);
    height: 100px;
    text-align: center;
    padding-top: 20px;
    outline: 1px solid #d8d5d5;

}

article.artnlife .life_mall li .txt-box p {
    font-size: 17px;
}

article.artnlife .life_mall li .txt-box span {
    color: #f1602c;
}

article.artnlife .button {
    width: 300px;
    height: 40px;
    background-color: #605678;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    line-height: 40px;
}
article.artnlife .button a {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1.2px;
}


/********* 아티스트영역  **********/
article.artist {
    background-color: #f5efec;
    padding: 20px 0;
    padding-bottom: 50px;
}
article.artist h2 {
    text-align: center;
    font-family: "Chonburi", serif;
    font-size: 2rem;
    padding: 50px 0;

}

article.artist .tab-menu ul {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
}
article.artist .tab-menu ul li {
    width: 42%;
    height: 40px;
    line-height: 35px;
    float: left;
    margin-left: 5%;
    margin-bottom: 20px;
    text-align: center;
    background-color: #54473F;
    border-radius: 5px;
}

/* 선택된 탭메뉴 디자인 */
article.artist .tab-menu ul li.on {
    background-color: #FF885B;
}
article.artist .tab-menu ul li a {
    font-size: 1rem;
    color: #fff;
}

/* 선택한 탭메뉴의 내용이 보여질 공간 -> .tab-content */
article.artist .tab-content {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;

}
article.artist .tab-content > div {
     /* 각 컨텐츠 덩어리! */
     width: 100%;
     display: none; 
}
article.artist .tab-content > div.on {
    width: 100%;
    display: block;
}
article.artist .tab-content img {
    width: 100%;
    display: block;
}

article.artist .tab-content li {
   float: left;
   width: 30%;
   
}
article.artist .tab-content li.artist {
    width: 65%;
    margin-left: 5%;
    margin-bottom: 20px;
    border: 0.3px solid #b9a396;
}
article.artist .tab-content li.icon {
    width: 15%;
    margin-left: 5%;
    margin-top: 40%;
}
article.artist .tab-content li.art {
    width: 90%;
    margin-left: 5%;
    border: 0.2px solid #806658;
   
}



/****** ABOUT US 영역  ******/
article.aboutus {
    width: 100%;
    max-width: 767px;
    background-color: #f0dbce;
    padding: 80px 0;

}

article.aboutus h2 {
    text-align: center;
    font-family: "Chonburi", serif;
    font-size: 2rem;
    padding-bottom: 20px;

}

article.aboutus .vision h3 {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #54473F;
    color: #fff;
    text-align: center;
    margin: 40px auto
}

article.aboutus .mission h3 {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #54473F;
    color: #fff;
    text-align: center;
    margin: 40px auto
}
article.aboutus p {
    text-align: center;
}

article.contact {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    background-color: #eef8f5;
    padding: 30px 0;  
}
article.contact h2 {
    text-align: center;
    font-family: "Chonburi", serif;
    font-size: 2rem;
    padding: 20px 0;
}
article.contact ul li {
    background-color: #e9eef7;
    width: 380px;
    margin: 50px auto;
    
}
article.contact ul h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 50px;
    padding-top: 30px;
}
article.contact ul p {
    font-weight: 400;
    margin: 30px 50px;
    padding-bottom: 30px;
}
article.cs {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    background-color: #e2e7f0;
    padding: 30px 0; 
}
article.cs .cs-box h3 {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #54473F;
    color: #fff;
    text-align: center;
    margin: 50px auto
}
article.cs .cont_artbox {
   width: 100%;
   max-width: 767px;
   margin: 20px auto;
   
}
article.cs .cont_artbox h4 {
    font-weight: 600;
   margin: 22px 50px;
   
}
article.cs .cont_artbox p {
    margin-left: 50px;
}

footer {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    background-color: #636262;
    
}
footer .cont_company {
    padding: 30px 0;
}

footer .cont_company h4 {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 50px;
}
footer .cont_company p {
    color: #fff;
    margin-left: 50px;
    font-weight: 300;
    font-size: 0.8rem;
}
